table, th, td {
    border:1px solid black;
    width: "90%";
    font-size: 15px;
    padding: 8px;
    border-collapse: collapse;
}
.tableContainer{
    width: 96%;
    margin: auto;
}
.Contact {
    text-align: end;
}

.Country {
    text-align: end;
}
button{
    border: 0;
}